# Pandas Programs

'''
@Author: Shubham shirke
@Date: 2023-06-25 18:17:30
@Last Modified by: Shubham shirke
@Last Modified time: 2023-06-25 18:17:30
@Title : Python library Pandas Programs
'''

In [2]:
# import library
import pandas as pd

In [3]:
# Implement Logging
import logging
import sys
logging.basicConfig(level=logging.INFO, format='%(asctime)s - %(levelname)s - %(message)s',
                    handlers= [logging.FileHandler("pandas.log"),
                               logging.StreamHandler(sys.stdout)])

# Create a logger
logger = logging.getLogger(__name__)

1. Write a Python program to create and display a one-dimensional array-like object
containing an array of data using Pandas module.

In [4]:
import pandas as pd
  
try:
    
    data_series = pd.Series([2, 4, 6, 8, 10]) # create series using pandas.Series
    
    # displaying the Series
    print(data_series)
    logging.info("1-D array successfully represented using pandas")

except Exception as e:
    logger.error(str(e))

0     2
1     4
2     6
3     8
4    10
dtype: int64
2023-06-27 11:43:43,672 - INFO - 1-D array successfully represented using pandas

2. Write a Python program to convert a Panda module Series to Python list and it's type.

In [5]:
import pandas as pd

try:
    data_series = pd.Series([2, 4, 6, 8, 10]) # create series using pandas.Series
    
    # displaying the Series
    print(f"Pandas data series: \n{data_series}")

    lst_series = data_series.to_list()  # convert series to list

    print(lst_series) # print list
    print(type(lst_series))

    logger.info("Succesfully pandas series converted to list")

except Exception as e:
    logger.error(str(e))

Pandas data series:
0     2
1     4
2     6
3     8
4    10
dtype: int64
[2, 4, 6, 8, 10]
<class 'list'>
2023-06-27 11:43:43,687 - INFO - Succesfully pandas series converted to list

3.Write a Python program to add, subtract, multiple and divide two Pandas Series

In [6]:
import pandas as pd

try:
    pandas_series_1 = pd.Series([2, 4, 6, 8, 10])

    pandas_series_2 = pd.Series([1, 3, 5, 7, 9])

    print(f"Pandas series 1: \n{pandas_series_1}")
    print(f"Pandas series 2: \n{pandas_series_2}")

    # concat two pandas series. 
    series_add = pandas_series_1.add(pandas_series_2)
    print(f"The addition of two series is:\n{series_add}")

    # subtract two pandas series.
    series_sub = pandas_series_1.subtract(pandas_series_2)
    print(f"The subtraction of two series is:\n{series_sub}")

    # multiply two pandas series.
    series_mul = pandas_series_1.multiply(pandas_series_2)
    print(f"The multiplication of two series is:\n{series_mul}")

    # Divide two pandas series.
    series_div = pandas_series_1.divide(pandas_series_2)
    print(f"The division of two series is:\n{series_div}")

    logger.info("Arithmetic operation sucessfully performed on two pandas series")
    
except Exception as e:
    logger.error(str(e))

Pandas series 1:
0     2
1     4
2     6
3     8
4    10
dtype: int64
Pandas series 2:
0    1
1    3
2    5
3    7
4    9
dtype: int64
The addition of two series is:
0     3
1     7
2    11
3    15
4    19
dtype: int64
The subtraction of two series is:
0    1
1    1
2    1
3    1
4    1
dtype: int64
The multiplication of two series is:
0     2
1    12
2    30
3    56
4    90
dtype: int64
The division of two series is:
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64
2023-06-27 11:43:43,704 - INFO - Arithmetic operation sucessfully performed on two pandas series

4. Write a Python program to get the powers of an array values element-wise.

In [7]:
import pandas as pd

try:
    pandas_series = pd.Series([0,1,2,3,4,5,6])

    pandas_pow_series = pandas_series.pow(3)  #  find powers of an array values element-wise.

    print(pandas_pow_series)

    logger.info("Powers of series sucessfully calculated")

except Exception as e:
    logger.error(str(e))

0      0
1      1
2      8
3     27
4     64
5    125
6    216
dtype: int64
2023-06-27 11:43:43,718 - INFO - Powers of series sucessfully calculated

5. Write a Python program to create and display a DataFrame from a specified dictionary data which has the index labels

In [8]:
import pandas as pd
import numpy as np

try:
    exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

    df = pd.DataFrame(exam_data , index=labels)
    print(df)
    logger.info("Successfully create and displayed dataframe")

except Exception as e:
    logger.error(str(e))

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
2023-06-27 11:43:43,740 - INFO - Successfully create and displayed dataframe

6. Write a Python program to display a summary of the basic information about a specified Data Frame and its data.

In [9]:
import pandas as pd
import numpy as np

try:
    exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

    df = pd.DataFrame(exam_data , index=labels)
    print(df.info(verbose=True))
    logger.info("Basic summary of the dataframe successfully displayed")

except Exception as e:
    logger.error(str(e))

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      10 non-null     object
 1   score     8 non-null      float64
 2   attempts  10 non-null     int64
 3   qualify   10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes
None
2023-06-27 11:43:43,774 - INFO - Basic summary of the dataframe successfully displayed

7. Write a Python program to get the first 3 rows of a given DataFrame.

In [10]:
# display first 3 rows of the dataframe

import pandas as pd
import numpy as np

try:
    exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

    df = pd.DataFrame(exam_data , index=labels)
    print(df.iloc[:3])   # first 3 rows using indices number
    # print(df.head(3))  # optional
    logger.info("First 3 rows of the dataframe successfully displayed")

except Exception as e:
    logger.error(str(e))

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
2023-06-27 11:43:43,798 - INFO - First 3 rows of the dataframe successfully displayed

8. Write a Python program to select the 'name' and 'score' columns from the following DataFrame.

In [11]:
import pandas as pd
import numpy as np

try:
    exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

    df = pd.DataFrame(exam_data , index=labels)
    print(df[['name','score']])  # print specific columns
    logger.info("Successfully 'name' and 'score' columns displayed of the dataframe")

except Exception as e:
    logger.error(str(e))

        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    NaN
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura    NaN
i      Kevin    8.0
j      Jonas   19.0
2023-06-27 11:43:43,813 - INFO - Successfully 'name' and 'score' columns displayed of the dataframe

9. Write a Python program to select the specified columns and rows from a given data frame.

In [12]:
import pandas as pd
import numpy as np

try:
    exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

    df = pd.DataFrame(exam_data , index=labels)
    print("The specific columns and specific rows [1,3,5,6] from the dataframe are:")
    print(df[['name','score']].iloc[[1,3,5,6]])  # print specific columns and specific rows
    logger.info("Successfully 'name' and 'score' columns displayed with specific rows of the dataframe")

except Exception as e:
    logger.error(str(e))

The specific columns and specific rows [1,3,5,6] from the dataframe are:
      name  score
b     Dima    9.0
d    James    NaN
f  Michael   20.0
g  Matthew   14.5
2023-06-27 11:43:43,830 - INFO - Successfully 'name' and 'score' columns displayed with specific rows of the dataframe

10. Write a Python program to select the rows where the number of attempts in the
examination is greater than 2.

In [13]:
import pandas as pd
import numpy as np

try:
    exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

    df = pd.DataFrame(exam_data , index=labels)
    print("The rows where number of attempts are greater than 2 are:")

    rows = df[df['attempts'] > 2]

    print(rows)
    logger.info("Successfully rows where number if attempts are greater than 2 displayed of the dataframe")

except Exception as e:
    logger.error(str(e))

The rows where number of attempts are greater than 2 are:
      name  score  attempts qualify
b     Dima    9.0         3      no
d    James    NaN         3      no
f  Michael   20.0         3     yes
2023-06-27 11:43:43,844 - INFO - Successfully rows where number if attempts are greater than 2 displayed of the dataframe

11. Write a Python program to count the number of rows and columns of a DataFrame.

In [14]:
import pandas as pd
import numpy as np

try:
    exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

    df = pd.DataFrame(exam_data , index=labels)
    print("The rows where number of attempts are greater than 2 are:")

    total_rows=df.shape[0]   # rows count
    total_cols=df.shape[1]   # column count

    print("Number of Rows: "+str(total_rows))
    print("Number of Columns: "+str(total_cols))
    logger.info("Rows and columns count displayed")

except Exception as e:
    logger.error(str(e))

The rows where number of attempts are greater than 2 are:
Number of Rows: 10
Number of Columns: 4
2023-06-27 11:43:43,859 - INFO - Rows and columns count displayed

12. Write a Python program to select the rows where the score is missing, i.e. is NaN.

In [15]:
import pandas as pd
import numpy as np

try:
    exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

    df = pd.DataFrame(exam_data , index=labels)
    print("The rows where number of attempts are greater than 2 are:")

    rows = df[df['score'].isnull()]

    print(rows)
    logger.info("Successfully displayed dataframe where score is null")

except Exception as e:
    logger.error(str(e))

The rows where number of attempts are greater than 2 are:
    name  score  attempts qualify
d  James    NaN         3      no
h  Laura    NaN         1      no
2023-06-27 11:43:43,879 - INFO - Successfully displayed dataframe where score is null

13. Write a Python program to select the rows where number of attempts in the examination is less than 2 and score greater than 15.

In [16]:
import pandas as pd
import numpy as np

try:
    exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

    df = pd.DataFrame(exam_data , index=labels)
    print("The rows where number of attempts are greater than 2 and score greater than 15:")

    rows = df[(df['attempts'] < 2) & (df['score'] > 15)]

    print(rows)
    logger.info("Successfully displayed records with attempts are greater than 2 and score greater than 15")

except Exception as e:
    logger.error(str(e))

The rows where number of attempts are greater than 2 and score greater than 15:
    name  score  attempts qualify
j  Jonas   19.0         1     yes
2023-06-27 11:43:43,906 - INFO - Successfully displayed records with attempts are greater than 2 and score greater than 15

14. Write a Python program to change the score in row 'd' to 11.5.

In [17]:
import pandas as pd
import numpy as np

try:
    exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

    df = pd.DataFrame(exam_data , index=labels)
    print("The rows where number of attempts are greater than 2 and score greater than 15:")

    print("\nOriginal data frame:")
    print(df)
    print("\nChange the score in row 'd' to 11.5:")
    df.loc['d', 'score'] = 11.5  # replace value of column using '.loc' indexer.
    print(df)

    logger.info("Successfully modified record.")

except Exception as e:
    logger.error(str(e))

The rows where number of attempts are greater than 2 and score greater than 15:

Original data frame:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

Change the score in row 'd' to 11.5:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
2023-06-27 11:43:43,924 - INFO - Successfully modified record.

15. Write a Python program to calculate the sum of the examination attempts by the students.

In [18]:
import pandas as pd
import numpy as np

try:
    exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

    df = pd.DataFrame(exam_data , index=labels)
    
    sum = df['attempts'].sum()   # sum function

    print(f"\nSum of the examination attempts by the students: {sum}")

    logger.info("sum of the examination attempts by the students sucessfully calculated")


except Exception as e:
    logger.error(str(e))

Sum of the examination attempts by the students: 19
2023-06-27 11:43:43,951 - INFO - sum of the examination attempts by the students sucessfully calculated

16. Write a Python program to calculate the mean score for each different student in DataFrame.

In [27]:
import pandas as pd
import numpy as np

try:
    exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

    df = pd.DataFrame(exam_data , index=labels)
    
    # Calculate the mean score for each student
    mean_scores = df['score'].mean()

    # print name of students and mean score
    print(f"The mean score is: {mean_scores}")
    
    logger.info("mean score for each different student sucessfully displayed")


except Exception as e:
    logger.error(str(e))

The mean score is: 13.5625
2023-06-27 11:44:10,978 - INFO - mean score for each different student sucessfully displayed

17. Write a Python program to append a new row 'k' to data frame with given values for
each column. Now delete the new row and return the original DataFrame.

In [20]:
import pandas as pd
import numpy as np

try:
    exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

    df = pd.DataFrame(exam_data , index=labels)
    
    print("Original rows:")
    print(df)
    print("\nAppend a new row:")
    df.loc['k'] = [1, 'Suresh', 'yes', 15.5]
    print("Print all records after insert a new record:")
    print(df)
    print("\nDelete the new row and display the original  rows:")
    df = df.drop('k')
    print(df)
    
    logger.info("Append and Deleted operation on dataframe sucessfully displayed")


except Exception as e:
    logger.error(str(e))

Original rows:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

Append a new row:
Print all records after insert a new record:
        name   score attempts qualify
a  Anastasia    12.5        1     yes
b       Dima     9.0        3      no
c  Katherine    16.5        2     yes
d      James     NaN        3      no
e      Emily     9.0        2      no
f    Michael    20.0        3     yes
g    Matthew    14.5        1     yes
h      Laura     NaN        1      no
i      Kevin     8.0        2      no
j      Jonas    19.0        1     yes
k          1  Suresh      yes    15.5

Delete the new row and display the original  rows:
        name score attempts qualify
a  Anastasia  12.5        1     yes
b       Dima   9.0        3      no
c  Katherine  16.5        2     yes
d      James   NaN        3      no
e      Emily   9.0        2      no
f    Michael  20.0        3     yes
g    Matthew  14.5        1     yes
h      Laura   NaN        1      no
i      Kevin   8.0        2      no
j      Jonas  19.0        1     yes
2023-06-27 11:43:43,993 - INFO - Append and Deleted operation on dataframe sucessfully displayed

18. Write a Python program to sort the DataFrame first by 'name' in descending order,
then by 'score' in ascending order

In [21]:
import pandas as pd
import numpy as np

try:
    exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

    df = pd.DataFrame(exam_data , index=labels)
    
    # sort names in descending order and score in ascending order
    df = df.sort_values(by=['name', 'score'], ascending=[False, True])

    print(df) # print dataframe
    
    logger.info("data frame sorted in descending order and sucessfully displayed")


except Exception as e:
    logger.error(str(e))

        name  score  attempts qualify
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
c  Katherine   16.5         2     yes
j      Jonas   19.0         1     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
b       Dima    9.0         3      no
a  Anastasia   12.5         1     yes
2023-06-27 11:43:44,022 - INFO - data frame sorted in descending order and sucessfully displayed

19. Write a Python program to replace the 'qualify' column contains the values 'yes' and
'no' with True and False.

In [22]:
import pandas as pd
import numpy as np

try:
    exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

    df = pd.DataFrame(exam_data , index=labels)
    
    # Replace 'yes' and 'no' with True and False
    df['qualify'] = df['qualify'].replace({'yes': True, 'no': False})

    print(df) # print dataframe
    
    logger.info("qualify column values sucessfully replaced")


except Exception as e:
    logger.error(str(e))

        name  score  attempts  qualify
a  Anastasia   12.5         1     True
b       Dima    9.0         3    False
c  Katherine   16.5         2     True
d      James    NaN         3    False
e      Emily    9.0         2    False
f    Michael   20.0         3     True
g    Matthew   14.5         1     True
h      Laura    NaN         1    False
i      Kevin    8.0         2    False
j      Jonas   19.0         1     True
2023-06-27 11:43:44,050 - INFO - qualify column values sucessfully replaced

20. Write a Python program to delete the 'attempts' column from the DataFrame

In [23]:
import pandas as pd
import numpy as np

try:
    exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

    df = pd.DataFrame(exam_data , index=labels)
    
    modified_df =  df.drop('attempts', axis=1)
    print("Original DataFrame:")
    print(df)
    print("Modified DataFrame after column deletion:")
    print(modified_df)
    logger.info("attempts column sucessfully deleted")


except Exception as e:
    logger.error(str(e))

Original DataFrame:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
Modified DataFrame after column deletion:
        name  score qualify
a  Anastasia   12.5     yes
b       Dima    9.0      no
c  Katherine   16.5     yes
d      James    NaN      no
e      Emily    9.0      no
f    Michael   20.0     yes
g    Matthew   14.5     yes
h      Laura    NaN      no
i      Kevin    8.0      no
j      Jonas   19.0     yes
2023-06-27 11:43:44,080 - INFO - attempts column sucessfully deleted

21. Write a Python program to insert a new column in existing DataFrame.

In [24]:
import pandas as pd
import numpy as np

try:
    exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

    df = pd.DataFrame(exam_data , index=labels)
    
    print("Original DataFrame:")
    print(df)

    print("Modified DataFrame after column Insertion:")
    status = ['Pass','Fail','Pass','Fail','Fail','Pass','Pass','Fail','Fail','Pass']

    #df['status'] = status  #insert column at end

    df.insert(4, 'status', status)  # insert column at any position
    # display modified dataFrame after column insertion
    print(df)
    logger.info("successfully column inserted")


except Exception as e:
    logger.error(str(e))

Original DataFrame:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
Modified DataFrame after column Insertion:
        name  score  attempts qualify status
a  Anastasia   12.5         1     yes   Pass
b       Dima    9.0         3      no   Fail
c  Katherine   16.5         2     yes   Pass
d      James    NaN         3      no   Fail
e      Emily    9.0         2      no   Fail
f    Michael   20.0         3     yes   Pass
g    Matthew   14.5         1     yes   Pass
h      Laura    NaN         1      no   Fail
i      Kevin    8.0         2      no   Fail
j      Jonas   19.0         1     yes   Pass
2023-06-27 11:43:44,112 - INFO - successfully column inserted

22. Write a Python program to iterate over rows in a DataFrame.

In [25]:
import pandas as pd
import numpy as np

try:
    exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

    df = pd.DataFrame(exam_data , index=labels)
    
    print("Iterating over rows in data frame:")
    print("Name  Score")
    # iterating over dictionary of data frame
    for index, row in df.iterrows():
        print(row['name'], row['score'])

    logger.info("successfully rows iterated")


except Exception as e:
    logger.error(str(e))

Iterating over rows in data frame:
Name  Score
Anastasia 12.5
Dima 9.0
Katherine 16.5
James nan
Emily 9.0
Michael 20.0
Matthew 14.5
Laura nan
Kevin 8.0
Jonas 19.0
2023-06-27 11:43:44,175 - INFO - successfully rows iterated

23. Write a Python program to get list from DataFrame column headers.

In [26]:
import pandas as pd
import numpy as np

try:
    exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

    df = pd.DataFrame(exam_data , index=labels)
    
    print("The list of column headers is:")
    
    # list of column headers

    #column_headers = list(df.columns.values)
    column_headers = df.columns.tolist()

    print(column_headers)

    logger.info("successfully list of columns displayed")


except Exception as e:
    logger.error(str(e))

The list of column headers is:
['name', 'score', 'attempts', 'qualify']
2023-06-27 11:43:44,206 - INFO - successfully list of columns displayed